# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

In [18]:
SELECT TOP 5 * FROM dbo.other_FHV_services_jan_aug_2015;
--\> It looks like INC, INC., and CORP are a common abbreviation at the end.

Base_Number,Base_Name,Pick_Up_Date,Number_of_Trips,Number_of_Vehicles
B00013,LOVE CORP CAR INC,2015-01-01,26,17
B00014,NY ONE CORP CAR INC,2015-01-01,45,24
B00029,COMMUNITY CAR SVC CORP,2015-01-01,731,36
B00053,CHARGE AND RIDE INC,2015-01-01,10,9
B00095,LIBERTY CAR SERVICE INC.,2015-01-01,814,62

In [29]:
SELECT TOP 5 
RIGHT(Base_Name, 4) AS "End Abbreviations" --returns the 4 characters using the RIGHT function
FROM dbo.other_FHV_services_jan_aug_2015 
--Would like to find out more about how we can use this to remove specific characters from the end of the column values, to give us the base name? 
--Not sure what the syntax for the that would be atm.

End Abbreviations
INC
INC
CORP
INC
INC.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [8]:
SELECT TOP 5
CHARINDEX(' ',Number_of_Trips) as 'Index_Location' 
FROM dbo.other_FHV_services_jan_aug_2015;
--Did not find a column fo number_of_pickups in any of the tables within the RideShareDB.

Index_Location
3
3
4
3
4

## Date Functions

For `other-FHV-services-jan-july15`, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

\\> The name of the column being used is dbo.other\_FHV\_services\_jan\_aug\_2015. So yes, I would expect that this means the table should end in August.

In [11]:
SELECT TOP 5 
DATENAME(Month, Pick_up_Date) as MONTH --Display name of the month
From dbo.other_FHV_services_jan_aug_2015
ORDER BY Pick_Up_Date DESC; --In descending order (DESC)

MONTH
August
August
August
August
August

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [12]:
SELECT TOP 5
DATEPART(Day, Pick_up_Date) AS Day, --Return the day number for Pick_up_Date
DATENAME(Month, Pick_up_Date) AS MONTH --Return the month name for Pick_up_Date
FROM dbo.other_FHV_services_jan_aug_2015
ORDER BY [day] ASC; --specifying to order by day in ascending order.

Day,MONTH
1,January
1,January
1,January
1,January
1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [13]:
SELECT
MIN(start_lng) AS 'Most Easterly' --Use min
FROM dbo.lyft

Most_Easterly_Pickup
-74.22689

Write a query the returns the most northerly Lyft pickup.

In [14]:
SELECT
MAX(start_lat) AS 'Most Northerly' --Use max
FROM dbo.lyft

Most Northerly
40.93562

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [16]:
SELECT TOP 5 
CONCAT(Base_Number, ':',Base_Name) AS 'base_number: base_name' --Setting the format as specified --Double quotes did not work ":" make sure to use single :P.
FROM dbo.other_FHV_services_jan_aug_2015

base_number: base_name
B00013:LOVE CORP CAR INC
B00014:NY ONE CORP CAR INC
B00029:COMMUNITY CAR SVC CORP
B00053:CHARGE AND RIDE INC
B00095:LIBERTY CAR SERVICE INC.